<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="container">
            <center><h2>Optional (isPresent) Java 8</h2></center>
            <div>
                <center><img src="../../../static/images/optionalCut.png" th:attr="src=@{/images/optionalCut.png}"/></center>
            </div>

            <div th:if="${not #lists.isEmpty(newEmployees)}">
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                    </tr>
                    <th:block th:each="employee : ${newEmployees}">
                        <tr>
                            <td th:text="${employee.name}">name</td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </th:block>
</body>
</html>